<h1>Create a new goal</h1>
<form action="/" method="post">
  <label for="title">Enter the title for your goal</label>
  <input type="text" name="title"><br><br>
  <label for="startdate">Enter the start date for your goal</label>
  <input type="text" name="startdate"><br><br>
    <label for="enddate">Enter the end date for your goal</label>
  <input type="text" name="enddate"><br><br>
  <input type="submit" value="Submit">
</form>