<h1>Create a new task</h1>
<form action="/" method="post">
  <label for="title">Enter the title for your task</label>
  <input type="text" name="title"><br><br>
  <input type="submit" value="Submit">
</form>