<h1>Welcome back {{user.name}}!</h1>

<h2>Here are your goals for lockdown!</h2>
{{#each goals}}
<table>
    <tr>
        <th>{{title}}</th>
        <th>Status</th>
        <th>End date</th>
    </tr>
    {{!-- {{> task}} --}}
</table>
{{/each}}