<h1>Welcome to Wellyness</h1>

<table>
    <tr>
        <th>New page. Who dis?</th>
    </tr>
    {{#each user}}
    <tr>
        <td><a href="{{id}}">{{name}}</a></td>
    </tr>
    {{/each}}
</table>