<h1>Welcome to Wellyness</h1>

<table>
    <tr>
        <th>New page. Who dis?</th>
    </tr>
    {{#each users}}
    <tr>
        <td><a href="/user/{{id}}">{{name}}</a></td>
    </tr>
    {{/each}}


</table>

<a href="/add">
<button>Add User</button></a>